.viewPost {
  width: 100%;
  margin-bottom: calc(#{$one-rem}*1.6);
  &__postBox {
    background-color: white;
    border: 1px solid #CCC;
  }
  &__postUserIconBox {
    width: calc(#{$one-rem} * 8);
    height: calc(#{$one-rem} * 8);
    margin: $one-rem;

  }
  &__postUserIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__name {
    display: inline-block;
    transform: translateY(calc(#{$one-rem * 2.5}));
    height: calc(#{$one-rem} * 2.5);
    //font-weight: bold;
  }
  &__date {
    display: inline-block;
    transform: translate(calc(#{$one-rem * -9.9}), calc(#{$one-rem * 4.5}));
    opacity: .5;
    height: calc(#{$one-rem} * 2.5);
  }
  &__content {
    padding: $one-rem;
    word-break: break-all;
  }
  &__likeCommentShare {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
  }
  &__likeCommentShare div a{
    border-radius: 0;
  }
  &__showLikes span {
    font-size: calc(#{$one-rem} * 1.4);
  }
  &__showLikes .viewPost__likeCount{
    padding-left: $one-rem;
  }
  &__showComments {
    padding-left: $one-rem;
  }
  &__hideComments span {
    font-size: calc(#{$one-rem} * 1.4);
    padding-left: $one-rem;
  }

  &__commentIconBox {
    display: inline-block;
    width: calc(#{$one-rem} * 5);
    height: calc(#{$one-rem} * 5);
    margin-top: calc(#{$one-rem}/2);
    // width: 100%;
    // padding-top: 100%;
  }
  &__commentIcon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  &__commentContent {
    display: inline-block;
    width: calc(100% - (#{$one-rem} * 8) + #{$one-rem});
    vertical-align: top;
    padding-left: calc(#{$one-rem}/2);
    word-break: break-all;
  }
  &__commentContainer {
    margin-bottom: $one-rem;
    width: 100%;
    padding: 0 $one-rem;
  }

  &__createComment {
    width: 100%;
    padding: 0 $one-rem $one-rem;
  }
  &__createContainer {
    width:100%;
  }
  &__inputComment {
    width: 100%;
    padding: 0 $one-rem;
  }
  &__hideComments, &__viewOlderComments {
    text-align: center;
    width: 100%;
  }
  &__modLink {
    position: absolute;
    right: calc(#{$one-rem} * 1.6);
  }
  &__editContent {
    width: 100%;
    padding: calc(#{$one-rem}/2);
  }
  &__editInput {
    width: 100%;
    height: auto;
    resize: none;
    padding: $one-rem;
    overflow: hidden;
  }

  &__photosPage {
    
    &--viewPhotoBox {
      height: calc(#{$one-rem} * 26.9);
      padding: calc(#{$one-rem} / 2);
      border: 1px solid lightgrey;
    }
    &--viewPhoto {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--viewPhotoBox:hover {
      background-color: lightgray;
      cursor: pointer;
    }

    &--displayPhotoContainer {
      border: 1px solid lightgrey;
    }
    &--displayPhotoBox {
      //width: 80%;
      margin: 0 auto;
    }
    &--displayPhoto {
      width: 100%;
      height: auto;
    }
  }

}

@media (max-width: 1199px) {
  .viewPost {
    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 24);
      }
    }
  }

}
@media (max-width: 991px) {
  .viewPost {

    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 18);
      }
    }
  }

}
@media (max-width: 767px) {
  .viewPost {
    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 17.9);
      }
    }
  }

}

@media (max-width: 575px) {
  // .viewPost {
  // }
}
@media (max-width: 400px) {
  .viewPost {
    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 18);
      }
    }
  }
}
@media (max-width: 385px) {
  .viewPost {
    &__date {
      transform: none;
    }
  }
}