.profilePage {
  &__header {
    //background-color: lightgray;
    padding: 0 ;//$one-rem;
    &--box {
      display: flex;
      flex-wrap: wrap;
      margin: 0 .5rem;
      //background-color: lightgray;
      width: 100%;
    }
    &--name {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    &--userName {
      padding: 0 calc(#{$one-rem} * 1.6);
    }
    &--friendBtnBox {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &--friendBtn {
      //display: block;
    }
  }
  &__profileImage {
    width: 100%;
    //padding-bottom: 100%;
    height: calc(#{$one-rem} * 25.5);
    overflow-y: hidden;
    border: 3px solid #CCC;
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      //height: calc(#{$one-rem} * 20);
    }
  }
  &__description {

  }
  &__headerbtn {
    background-color: #CCC;
    width: 100%;
    padding: 0 calc(#{$one-rem} * 1.6);
  }
  &__profileInfo {
    //height: calc(#{$one-rem} * 40);
    height: auto;
    width: 100%;
    //background-color: red;
  }
  &__userDetails {
    background-color: white;
    //padding: 0 calc(#{$one-rem} * 1.6);
  }
  &__detailsTitle {
    border-bottom: 1px solid #CCC;
    padding: calc(#{$one-rem} / 2) $one-rem;
    background: #DDD;
    & p {
      margin: 0;
      display: inline-block;
    }
    &--editBtn {
      float: right;
    }
  }
  &__userInfo {
    padding: 1rem calc(#{$one-rem} * 1.6);
    border-bottom: 1px solid #CCC;
    & p {
      margin: 0;
      //line-height: 3rem;
    }
  }

  &__userFriends {
    background-color: white;
    &--title {
      padding: (calc(#{$one-rem} / 2)) $one-rem;
      background-color: #DDD;
    }
    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--name {
      color: white;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      z-index: 1;
    }
    &--box {
      height: calc(#{$one-rem} * 11.6);
      overflow-y: hidden;
      padding: 0 !important;
      border: 1px solid white;
      overflow: hidden;
    }
    &--box::after {
      background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
      display: block;
      position: relative;
      width: 100%;
      height: calc(#{$one-rem} * 5.8);
      margin-top: calc(#{$one-rem} * -5.8);
      content: "";
    }
    &--container {
      padding: 0 !important;
    }
    &--row {
      padding: 0 calc(#{$one-rem} * .8);
    }
  }


  // &__displayPost {
  //   width: 100%;
  //   height: calc(#{$one-rem} * 80);
  //   background-color: pink;
  // }
  //

  // PROFILE PAGE SETTINGS
  &__settingsPage {
    background-color: #EEE;
  }

  &__settingImageContainer {
    //height: calc(#{$one-rem} * 30);
    //border: 1px solid black;
    padding: $one-rem;

    &--settingImageBox {
      width: calc(#{$one-rem} * 12.5);;
      height: calc(#{$one-rem} * 12.5);;
      margin: 0 auto $one-rem;
      border: 1px solid black;
    }
    &--settingImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--uploaderBox {
      margin: 0 auto;
      width: calc(#{$one-rem} * 18);
    }
    &--settings_ImgInput {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }

  &__settingInfoContainer {
     //height: 1000px;
    //background-color: white;
    padding: $one-rem;

    &--description {
      width: 100%;
      height: auto;
      resize: none;
      padding: $one-rem;
      overflow: hidden;
    }
  }

  &__AboutPage {
    background-color: #EEE;

    &--Info {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__photosPage {
    &--viewPhotoBox {
      height: calc(#{$one-rem} * 26.9);
      padding: calc(#{$one-rem} / 2);
      border: 1px solid black;
    }
    &--viewPhoto {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--viewPhotoBox:hover {
      background-color: lightgray;
      cursor: pointer;
    }

    &--displayPhotoContainer {
      border: 1px solid black;
    }
    &--displayPhotoBox {
      width: 80%;
      margin: 0 auto;
    }
    &--displayPhoto {
      width: 100%;
      height: auto;
    }
  }

  &__photosUpload {
    margin-bottom: calc(#{$one-rem}* 10);
    &--photos_ImgInput {
      width: 100%;
      // height: 0.1px;
      // opacity: 0;
      // overflow: hidden;
      // position: absolute;
      // z-index: -1;
    }
    &--photoBox {
      width: 100%;
      padding: $one-rem;
    }
    &--photo {
      width: 100%;
      border: 1px solid black;
    }
    &--uploader {
      margin: 0 auto;
      padding: $one-rem;
    }
    &--description {
      max-width: calc(#{$one-rem} * 50);
      margin: 0 auto;
      padding: $one-rem;
    }
    &--textInput {
      width: 100%;
      height: auto;
      resize: none;
      padding: $one-rem;
      overflow: hidden;
    }

  }

  &__FriendsPage {
    background-color: #EEE;
    margin-bottom: calc(#{$one-rem}* 10);
    &--FriendsContainer {
      max-width: 100%;
      margin: 0 auto;
      padding: calc(#{$one-rem} * 2);
    }
    &--FriendsBox {
      padding: calc(#{$one-rem} * 2);

    }
    &--Friends {
      border: 1px solid #CCC;
      padding: $one-rem;
    }
    &--Friends:hover {
      background-color: #CCC;
    }
    &--Search {
      width: 100%;
    }
    &--FriendIcon {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--FriendIconBox {
      display: inline-block;
      width: calc(#{$one-rem} * 8);
      height: calc(#{$one-rem} * 8);
    }
  }

}

@media (max-width: 1199px) {
  .profilePage {
    &__profileImage {
      height: calc(#{$one-rem} * 21);
    }
    &__userFriends {
      &--box {
        height: calc(#{$one-rem} * 9.6);
      }
      &--box::after {
        height: calc(#{$one-rem} * 4.8);
        margin-top: calc(#{$one-rem} * -4.8);
      }
    }

    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 24);
      }
    }
  }

}
@media (max-width: 991px) {
  .profilePage {
    &__profileImage {
      height: calc(#{$one-rem} * 15);
    }
    &__userFriends {
      &--box {
        height: calc(#{$one-rem} * 6.9);
      }
      &--box::after {
        height: calc(#{$one-rem} * 3.45);
        margin-top: calc(#{$one-rem} * -3.45);
      }
    }

    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 18);
      }
    }
  }

}
@media (max-width: 767px) {
  .profilePage {
    &__profileImage {
      width: calc(#{$one-rem} * 18);
      height: calc(#{$one-rem} * 18);
      margin: 0 auto;
    }
    &__header {
      &--name {
        position: static;
      }
    }
    &__headerbtn {
      text-align: center;
    }
    &__userFriends {
      &--box {
        height: calc(#{$one-rem} * 16.8);
      }
      &--box::after {
        height: calc(#{$one-rem} * 8.4);
        margin-top: calc(#{$one-rem} * -8.4);
      }
    }
    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 17.9);
      }
    }
  }

}

@media (max-width: 575px) {
  .profilePage {
    &__userFriends {
      &--box {
        height: calc(#{$one-rem} * 14);
      }
      &--box::after {
        height: calc(#{$one-rem} * 7);
        margin-top: calc(#{$one-rem} * -7);
      }
    }
  }
}
@media (max-width: 400px) {
  .profilePage {
    &__userFriends {
      &--box {
        height: calc(#{$one-rem} * 10);
      }
      &--box::after {
        height: calc(#{$one-rem} * 5);
        margin-top: calc(#{$one-rem} * -5);
      }
    }
    &__photosPage {
      &--viewPhotoBox {
        height: calc(#{$one-rem} * 18);
      }
    }
  }
}
